<div class="flex flex-col gap-20 blog-right__container">
    <h3>Tin tức gần đây</h3>
    <p>Business authentication is important; it's what gives your customers and visitors the
        requisite
        information to determine that it's really you. After undergoing business authentication by
        DigiCert, your company's verified information will be displayed in its certificate details
    </p>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
    <a class="custom-item bg-white flex flex-col gap-10 blog-right__item">
        <h5 class="blog-right__title">10 Free Cyber Security Courses & Awareness Training
            Opportunities For Employees</h5>
        <p class="blog-right__desc">A Fortinet 2023 report on cybersecurity awareness training for
            employees suggests that
            81% of organizations faced malware, phishing, and password attacks in the previous year,
            indicating a significant vulnerability in current business cybersecurity strategies.</p>
        <div class="btn-custom-fit bg-primary text-color-white blog-rightitem__btn">Xem bài viết
        </div>
    </a>
</div>
<div class="flex flex-col gap-20 blog-right__brand">
    <h3>Tin tức theo hãng</h3>
    <a class="custom-item bg-white blog-rightitem__content ">
        <img src="./img/brand/pro-thawte.svg" alt="">
    </a>
    <a class="custom-item bg-white blog-rightitem__content ">
        <img src="./img/brand/pro-thawte.svg" alt="">
    </a>
    <a class="custom-item bg-white blog-rightitem__content ">
        <img src="./img/brand/pro-thawte.svg" alt="">
    </a>
    <a class="custom-item bg-white blog-rightitem__content ">
        <img src="./img/brand/pro-thawte.svg" alt="">
    </a>
    <a class="custom-item bg-white blog-rightitem__content ">
        <img src="./img/brand/pro-thawte.svg" alt="">
    </a>
</div>