<div class="cart-overlay pos-abs"></div>
<div class="cart-drawer pos-abs bg-white flex flex-col gap-20">
    <div class="cart-header flex jus-content center-ver">
        <h3>Shopping Cart</h3>
        <button class="cart-close cursor-pointer flex center-hor bg-gray center-ver">&times;</button>
    </div>
    <p class="cart-count">1 item</p>
    <div class="cart-item flex gap-20">
        <img src="./img/product/pack_banh_trang_abi_185x.webp" width="70" />

        <div class=" cart-item__content flex flex-col gap-10 flex-1">
            <h4>Ca Com Rim La Chanh 180g</h4>
            <p>$8.00</p>
            <div class=" quickview-qty  flex gap-10 center-ver">
                <button class="qty-minus">-</button>
                <span class="qty-number">1</span>
                <button class="qty-plus">+</button>
            </div>
        </div>
        <button class="cursor-pointer">&times;</button>
    </div>
    <h4>You May Also Like</h4>
    <div class="product-sub__container">
        <div class="product-sub__item">
            <div class="cart-suggest flex gap-20">
                <img src="./img/product/pack_banh_trang_abi_185x.webp" width="80" />
                <div>
                    <p>Mut Dua Hop 400g</p>
                    <span class="text-color-red">$15.99</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-footer flex flex-col gap-20">
        <div class="flex jus-content">
            <span>Subtotal:</span>
            <span>$8.00</span>
        </div>
        <div class="flex jus-content">
            <span>Total:</span>
            <span>$8.00</span>
        </div>
        <a href="#" class="btn-custom cart-footer__btn bg-primary text-color-white text-center">
            Checkout
        </a>
        <a href="#" class="btn-custom cart-footer__btn custom-item text-center">
            View Cart
        </a>
    </div>
</div>