<div class="container-f footer-top ">
            <div class="container-l footer-top__content flex flex-wrap jus-content gap-20 container-padding">
                <div class="footer-col flex flex-col gap-20 col-4">
                    <h4>SHOP</h4>
                    <a href="#">Deals</a>
                    <a href="#">Trending</a>
                    <a href="#">Pre-Order</a>
                </div>
                <div class="footer-col flex flex-col gap-20 col-4">
                    <h4>ABOUT US</h4>
                    <a href="#">Terms</a>
                    <a href="#">Shipping</a>
                </div>
                <div class="footer-col flex flex-col gap-20 col-4">
                    <h4>SUPPORT</h4>
                    <a href="#">Help Center</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Sell On CXB</a>
                </div>
                <div class="footer-col flex flex-col gap-20 col-4">
                    <h4>VISIT US</h4>

                    <div class="footer-contact flex gap-10">
                        <img src="./img/icon/location.svg" alt="">
                        <p>1101 E Bardin Rd, Ste 111<br>Arlington, TX 76018</p>
                    </div>

                    <div class="footer-contact flex gap-10">
                        <img src="./img/icon/chat.svg" alt="">
                        <a href="#">Chat via our message</a>
                    </div>

                    <div class="footer-contact flex flex-1 gap-10">
                        <img src="./img/icon/mail.svg" alt="">
                        <a href="#">
                            choxuyenbangusa@gmail.com
                        </a>
                    </div>

                    <h5 class="mt-10">FOLLOW THE FLAVOR!</h5>

                    <div class="footer-socials flex gap-10">
                        <a href="#" class="social-circle flex center-ver center-hor"><img src="./img/icon/fb.svg"
                                alt=""></a>
                        <a href="#" class="social-circle flex center-ver center-hor"><img src="./img/icon/ig.svg"
                                alt=""></a>
                        <a href="#" class="social-circle flex center-ver center-hor"><img src="./img/icon/yt.svg"
                                alt=""></a>
                        <a href="#" class="social-circle flex center-ver center-hor"><img src="./img/icon/tiktok.svg"
                                alt=""></a>
                        <a href="#" class="social-circle flex center-ver center-hor"><img src="./img/icon/x.svg"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-l footer-bottom flex center-ver jus-content">
            <p>© 2025 CXB. All Rights Reserved!</p>

            <div class="footer-payments flex flex-wrap gap-10 center-ver">
                <img src="./img/payment/visa.svg" alt="Visa">
                <img src="./img/payment/mastercard.svg" alt="Mastercard">
                <img src="./img/payment/amex.svg" alt="Amex">
                <img src="./img/payment/applepay.svg" alt="Apple Pay">
            </div>

        </div>