<div class="container-f bg-black">
    <div class="container-l footer-container container-padding flex footer-bottom">
        <div class="flex flex-col footer-bottom__content">
            <h3>Về Chúng Tôi</h3>
            <p>
                Chúng tôi cung cấp các chứng chỉ SSL uy tín với chi phí tối ưu.
                Sứ mệnh của ChungChiSo.com là giúp bảo mật website trở nên dễ dàng
                và accessible hơn cho tất cả mọi người.
            </p>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Liên Kết Nhanh</h3>
            <a href="#">Trang chủ</a>
            <a href="#">Giới thiệu</a>
            <a href="#">Liên hệ</a>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Pháp Lý</h3>
            <a href="#">Chính sách quyền riêng tư</a>
            <a href="#">Điều khoản sử dụng</a>
            <a href="#">Chính sách hoàn tiền</a>
        </div>

        <div class="flex flex-col footer-bottom__content">
            <h3>Kết Nối Với Chúng Tôi</h3>
            <div class="flex gap-20">
                <a href="#" class="footer-social">
                    <img src="../img/icon/logo-facebook.png" alt="">
                </a>
                <a href="#" class="footer-social">
                    <img src="../img/icon/logo-zalo.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>