<div class="container-f bg-black">
    <div class="container-l flex center-ver header-bar jus-content">
        
    </div>
</div>
<div class="container-l flex center-ver pos-rel header-top">
    <a href="../index.html" class="logo">
        <img title="logo trang chủ" src="./img/logo/logo-top.png" alt="">
    </a>
    <div class="flex header-container header-bottom">
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Thương hiệu ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/positivessl-logo.svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-comodo .svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-digicert .svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-fastssl.svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-geotrust.svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-rapidssl.svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-sectigo.svg" alt="">
                    </a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">
                        <img src="../img/brand/logo menu/pro-thawte.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Sản phẩm ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">DV SSL Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Wildcard SSL Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">EV SSL Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">OV SSL Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Multi-Domain SSL Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Multi-Domain Wildcard SSL</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Code Signing Certificates</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Renew SSL Certificate</a>
                </div>
            </div>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Hỗ trợ</a>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Blog</a>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Công cụ</a>
        </div>
        <div class="menu-container__item drop-down flex center-ver ">
            <a href="#">Liên hệ</a>
        </div>
        <form class="header-search gap-20 flex center-ver">
            <button type="submit">⌕</button>
            <input type="text" placeholder="Tìm kiếm...">
        </form>
        <button class="menu-container__bar flex center-ver">
            <img src="./img/icon/bars.svg" alt="">
        </button>
        <div class="m-menu flex flex-col">
            <div class="m-menu__root">
                <div class="m-menu__item flex flex-col">
                    <a href="#" class="m-menu__link">Thương hiệu ▾</a>

                    <div class="m-submenu flex flex-col">

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/positivessl-logo.svg" alt="PositiveSSL">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-comodo .svg" alt="Comodo">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-digicert .svg" alt="DigiCert">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-fastssl.svg" alt="FastSSL">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-geotrust.svg" alt="GeoTrust">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-rapidssl.svg" alt="RapidSSL">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-sectigo.svg" alt="Sectigo">
                            </a>
                        </div>

                        <div class="m-submenu__item">
                            <a href="#">
                                <img src="../img/brand/logo menu/pro-thawte.svg" alt="Thawte">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="#" class="m-menu__link">Sản phẩm ▾</a>
                    <div class="m-submenu flex flex-col">
                        <a href="#">DV SSL Certificates</a>
                        <a href="#">Wildcard SSL Certificates</a>
                        <a href="#">EV SSL Certificates</a>
                        <a href="#">OV SSL Certificates</a>
                        <a href="#">Multi-Domain SSL Certificates</a>
                        <a href="#">Multi-Domain Wildcard SSL</a>
                        <a href="#">Code Signing Certificates</a>
                        <a href="#">Renew SSL Certificate</a>
                    </div>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="#">Hỗ trợ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="#">Blog</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="#">Công cụ</a>
                </div>
                <div class="m-menu__item flex flex-col">
                    <a href="#">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
</div>