<div class="container-f bg-primary header-top__padding">
    <div class="container-l flex center-ver pos-rel header-top  ">
        <a href="../index.html" class="logo">
            <img title="logo trang chủ" src="./img/logo/logo-white.svg" alt="">
        </a>
        <div class="header__support flex flex-col">
            <span class="header__support-text text-color-white">Need help?</span>
            <a href="#" class="header__support-link text-color-white">Chat with us!</a>
        </div>
        <div class="header__search bg-white">
            <div class="search-box flex center-ver">
                <div class="search-box__input-wrap flex">
                    <input type="text" placeholder="Search the store">
                </div>

                <div class="search-box__icon flex center-ver jus-content">
                    <button type="button" class="search-box__btn">
                        <img src="./img/icon/search-icon.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="header__actions flex center-ver gap-20">

            <div class="header-action">
                <a href="#" class="header-action__link flex flex-col center-ver gap-10">
                    <img src="./img/icon/heart-icon.svg" alt="">
                    <span class="text-color-white">Wish Lists</span>
                </a>
            </div>

            <div class="header-action">
                <a href="#" class="header-action__link flex flex-col center-ver gap-10">
                    <img src="./img/icon/user-icon.svg" alt="">
                    <span class="text-color-white">Sign In</span>
                </a>
            </div>

            <div class="header-action open-cart">
                <div data-link="#" class="header-action__link cursor-pointer flex flex-col center-ver pos-rel gap-10 pos-rel">
                    <img src="./img/icon/cart-icon.svg" alt="">
                    <span class="text-color-white">Cart</span>
                    <span class="header-action__badge text-center pos-abs">0</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-f bg-white menu-desktop__container">
    <div class="container-l flex header-container header-bottom">
        <div class="catagories-header flex center-ver gap-10">
            <svg viewBox="0 0 26 26" class="icon icon-grid w-h-17" id="icon-grid">
                <g>
                    <circle cx="13" cy="13" width="5" height="5" r="4"></circle>
                    <rect x="12" y="12" width="2" height="2" fill="#fff"></rect>
                    <circle cx="4" cy="4" width="5" height="5" r="4"></circle>
                    <rect x="3" y="3" width="2" height="2" fill="#fff"></rect>
                    <circle cx="13" cy="22" width="5" height="5" r="4"></circle>
                    <rect x="12" y="21" width="2" height="2" fill="#fff"></rect>
                    <circle cx="4" cy="13" width="5" height="5" r="4"></circle>
                    <rect x="3" y="12" width="2" height="2" fill="#fff"></rect>
                    <circle cx="4" cy="22" width="5" height="5" r="4"></circle>
                    <rect x="3" y="21" width="2" height="2" fill="#fff"></rect>
                    <circle cx="22" cy="4" width="5" height="5" r="4"></circle>
                    <rect x="21" y="3" width="2" height="2" fill="#fff"></rect>
                    <circle cx="13" cy="4" width="5" height="5" r="4"></circle>
                    <rect x="12" y="3" width="2" height="2" fill="#fff"></rect>
                    <circle cx="22" cy="13" width="5" height="5" r="4"></circle>
                    <rect x="21" y="12" width="2" height="2" fill="#fff"></rect>
                    <circle cx="22" cy="22" width="5" height="5" r="4"></circle>
                    <rect x="21" y="21" width="2" height="2" fill="#fff"></rect>
                </g>
            </svg>
            <p>Catagories ▲</p>
        </div>
        <div class="flex flex-wrap ">
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Snacks</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">frozen</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Dry Goods</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Fresh Fruits</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Instant Foods</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Sauces & Dips </a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Coffee & Drinks </a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Frozen Seafoods</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Specialty Foods</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#">Nail Supplies</a>
            </div>
        </div>
        <a class="help-header flex center-ver gap-10">
            <img src="./img/icon/user-headset.png" alt="">
            <p>Help</p>
        </a>
    </div>
</div>