<div class="marquee">
    <div class="marquee-content">
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
        <span>⚡ Everyday is Black Friday: 20% Off Select Items!</span>
    </div>
</div>