<div class="quickview-overlay pos-abs"></div>

<div class="quickview-container container-s pos-rel">
    <button class="quickview-close pos-abs">&times;</button>

    <div class="quickview-inner flex gap-20 flex-wrap">

        <div class="quickview-gallery flex flex-col gap-20">
            <div class="quickview-main">
                <div><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
                <div><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
                <div><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
            </div>

            <div class="quickview-thumbs cursor-pointer">
                <div class="quickview-thumbs__item"><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
                <div class="quickview-thumbs__item"><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
                <div class="quickview-thumbs__item"><img src="./img/product/pack_banh_trang_abi_185x.webp" alt=""></div>
            </div>

        </div>
        <div class="quickview-content flex flex-col gap-20">

            <h2 class="quickview-title">Mut Dua Hop 400g</h2>

            <span class="text-color-red flex center-ver gap-10"><img class="hotdeal-icon" src="./img/icon/fire.svg"
                    alt=""> 15 sold
                in last 17 hours</span>

            <p class="quickview-desc">
                Vendor: CT Choice
                <br>
                Availability: In stock
                <br>
                Product type: sauces
            </p>
            <p class="quickview-price"><strong>$15.99</strong></p>
            <p>Quantity: 1 hu</p>
            <div class="Quantity-check__container flex flex-wrap gap-20">
                <div class="Quantity-check__item active">1 Hu</div>
                <div class="Quantity-check__item ">Pack of 5</div>
            </div>

            <div class="quickview-qty flex center-ver gap-10">
                <button class="qty-minus">-</button>
                <span class="qty-number text-center">1</span>
                <button class="qty-plus">+</button>
            </div>

            <div class="quickview-actions flex gap-20">
                <button class="quickview-btn__add flex-1 cursor-pointer bg-black text-color-white">Add To
                    Cart</button>
                <button class="quickview-btn__like bg-white cursor-pointer">
                    <img src="./img/icon/heart-gray.svg" alt="">
                </button>
            </div>
            <button class="quickview-btn__buy cursor-pointer bg-white">BUY IT NOW</button>
            <span class="flex gap-10 quickview-btn__seecount">
                <img src="./img/icon/eye.svg" alt="">
                46 customers are viewing this product
            </span>

        </div>

    </div>
</div>