<div class="modal-overlay pos-abs"></div>
<div class="container-xxs modal-container custom-item bg-white flex flex-col gap-20">
    <div class="flex jus-content center-ver">
        <h3 class="bg-primary text-color-white">DigiCert Secure Site Pro SSL</h3>
        <button class="modal-close bg-white-second">×</button>
    </div>
    <div class="flex flex-col gap-20">
        <div class="product-logo bg-white-second ">
            <img src="./img/brand/pro-digicert.svg" alt="">
        </div>
        <strong>DigiCert EV Multi-Domain SSL - 2 SAN included</strong>
        <div class="flex flex-col gap-20">
            <label>Chọn năm</label>
            <div class="product-filter__select">
                <select>
                    <option>1 năm - $274.25 trong 1 năm</option>
                    <option>2 năm - $520.00 trong 2 năm</option>
                </select>
            </div>
        </div>
        <div class="flex flex-col gap-10">
            <label>Số lượng</label>
            <input type="number" value="1">
        </div>

        <strong class="popup-product__price"><span>$27,50</span> / năm</strong>
        <strong class="popup-product__total">Tổng cộng: $27,50</strong>
    </div>
    <div class="flex jus-content center-ver">
        <a class="btn-custom-fit bg-white-second cursor-pointer">Đóng</a>
        <a class="btn-custom-fit bg-primary text-color-white cursor-pointer">Mua</a>
    </div>
</div>