<div class="container-l subscribe-container flex flex-col center-ver gap-20">

    <div class="subscribe-content flex flex-col center-ver gap-10">
        <h2 class="subscribe-title">
            SUBSCRIBE TO RECEIVE <span class="text-highlight">HOT DEALS</span>
        </h2>
        <p class="subscribe-desc">
            Subcribe để nhận mã Discounts và Deals liền nha!
        </p>
    </div>

    <form class="subscribe-form flex center-ver gap-20">
        <div class="subscribe-input bg-white">
            <input type="email" name="email" placeholder="enter your email address" required>
        </div>

        <button type="submit" class="subscribe-btn bg-primary text-color-white">
            Submit
        </button>
    </form>

</div>